/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body */
body {
    font-family: 'Comfortaa', sans-serif;
    color: #333;
    background: linear-gradient(to right, #d8bdbd, #f5deb3);
}

/* Navigation */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #f7f7f7;
    position: relative;
}

.logo h2 {
    font-family: 'Noto Serif', serif;
    font-size: 1.8rem;
    color: #663399;
}

/* Hamburger Menu */
.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    gap: 4px;
}

.hamburger span {
    display: block;
    width: 25px;
    height: 3px;
    background-color: #663399;
    transition: 0.3s;
}

/* Navigation Links */
.nav-links {
    display: flex;
    list-style: none;
    gap: 20px;
}

.nav-links li {
    display: inline;
}

.nav-links a {
    text-decoration: none;
    color: #663399;
    font-size: 1.2rem;
    position: relative;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #8a2be2;
}

/* Hide the nav-links for mobile */
.nav-links.hidden {
    display: none;
}

/* Show the nav-links horizontally when the hamburger is clicked */
.nav-links.active {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    background-color: #f7f7f7;
    padding: 10px;
    z-index: 10;
}

/* Home Section */
.home-section {
    background-color: #e6e6fa;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 20px;
}

h1 {
    font-size: 4rem;
    color: #663399;
    margin-bottom: 10px;
}

.name {
    font-size: 5rem;
    color: #000;
    font-weight: bold;
    margin-bottom: 10px;
}

.role {
    font-size: 2rem;
    color: #000;
    font-weight: bold;
    margin-top: 0;
    animation: fadeInUp 1s ease-out;
}

/* Animation */
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Sliding Animation */
.slide-in {
    opacity: 0;
    transform: translateX(-100%);
    animation: slideIn 2s forwards ease-out;
}

.slide-in-name {
    opacity: 0;
    transform: translateX(100%);
    animation: slideIn 2s forwards ease-out;
    animation-delay: 0.5s;
}

@keyframes slideIn {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

/* Responsive Design */
@media (max-width: 768px) {
    .hamburger {
        display: flex;
    }

    .nav-links {
        display: none;
    }

    .nav-links.active {
        display: flex;
    }
}
